cache:
  keyPrefix: employee_
  #缓存过期时间（单位秒）
  exprieTimes:
    employeeInfoCache: 86400
    licenseCache: 86400

spring:
  application:
    name: spring-test-app

redis:
  enabled: true
  usePool: true
  timeout: 5000
  pool:
    maxIdle: 100
    minIdle: 0
    maxActive: 500
    maxWait: -1
    numTestsPerEvictionRun: 0
    softMinEvictableIdleTimeMillis: 0
    minEvictableIdleTimeMillis: 0
    lifo: true
    fairness: false
  cluster:
    enabled: true
    maxRedirects: 5
    nodes:
      - redis.a.com:6001
      - redis.a.com:6002
      - redis.a.com:6003
      - redis.b.com:6004
      - redis.b.com:6005
      - redis.b.com:6006
